.root{
  position: relative;
}

Footer {
  position: relative;
  top: 100%;
  width: 100%;
  text-align: center;
  background-color: #5DD1DB;
  top: 100%;

}

Footer p {
  font-size: 24px;
  font-family: 'Lexend Extra', sans-serif;
  font-weight: bold;
  color: #3D3A50;
  padding: 10px;
}

img {
  width: 100px;
}