Footer {
  margin-top: 100px;
  position: relative;
  top: 100%;
  width: 100%;
  text-align: center;

}

Footer p {
  font-size: 14px;
  font-family: 'Lexend Extra', sans-serif;
  font-weight: bold;
  color: #3D3A50;
  padding: 10px;
}

img {
  width: 50px;
}