*{
    padding:0%;
    color: white;
}

body{
    background-image: url('../medias/restaurante.jpg');
    background-size: cover; /* Cobrir todo o elemento pai */
    background-repeat: no-repeat;
}

input{
    color: black;
}

button{
    color: black;
}

body{
    background-color: #D99A4E;
}

#nome{
    height: 100px;
}

header h2{
    color: #000000;
    text-align: center;   
}

nav img{
    height: 100px;
    border-radius: 0px;
}
nav{
    text-align: center; /* Centraliza horizontalmente */

}

nav li{
    text-decoration: none;
    display: inline;
    padding: 0 10px; /* Espaçamento entre os elementos li */
}

li a{
    color:#ffffff;
;
    text-decoration: none;
}
  